page-home {

    h3 {
        padding-top: 10px;
        text-align: center
    }

    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .forgotPassword{
        text-align: center;
        text-decoration-line: underline;
        color: blue;
        font-size: small
    }

    ion-icon {
        font-size: 32px;
    }
}
