<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col col-4>
              <img src="{{bucketUrl}}/title{{title.id}}.jpg">
          </ion-col>
          <ion-col>
              <ion-item>
                  <ion-label>Score:</ion-label>
                </ion-item>
              <ion-item>
                  <ion-label>Status:</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Volumes:</ion-label>
              </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <div *ngFor="let volume of volumes; let i = index;">
          <ion-row *ngIf="i % 3 === 0">
            <ion-col col-4 *ngIf="i < volumes.length">
              <img src="{{bucketUrl}}/title{{title.id}}volume{{volumes[i].id}}.jpg"> 
              <p style="text-align: center"> {{volumes[i].name}} </p>
           </ion-col>
            <ion-col col-4 *ngIf="i+1 < volumes.length">
              <img src="{{bucketUrl}}/title{{title.id}}volume{{volumes[i+1].id}}.jpg">
              <p style="text-align: center"> {{volumes[i+1].name}} </p>
            </ion-col>
            <ion-col col-4 *ngIf="i+2 < volumes.length">
              <img src="{{bucketUrl}}/title{{title.id}}volume{{volumes[i+2].id}}.jpg">
             <p style="text-align: center"> {{volumes[i+2].name}} </p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

</ion-content>
